/*! _typography.scss | Vulk | Css ninja 2022-2023 */

/*
    0. Typography CSS variables
*/

/* ==========================================================================
0. Typography CSS variables
========================================================================== */

@import 'https://fonts.googleapis.com/css2?family=Preahvihear&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Moulpali&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

.kh{
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Battambang', 'Preahvihear', cursive;
}

// @font-face {
//   /* stylelint-disable-next-line font-family-name-quotes */
//   font-family: 'Moulpali';
//   src: url("./KhmerOSmuolpali.ttf");
// }

@font-face {
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Battambang';
  src: url("./Battambang-Regular.ttf");
}


:root {
  
  --font: , 'Preahvihear', 'Roboto', sans-serif;
  --font-alt: 'Preahvihear', sans-serif;
  --title-color: var(--dark-text);
  --title-color-inverted: var(--white-smoke);
  --paragraph-color: var(--medium-text);
  --paragraph-color-inverted: var(--light-text);
  --code-bg-color: var(--widget-grey);
  --code-color: var(--success);
  --paragraph: 'Battambang', 'Roboto', sans-serif;
}

.is-dark {
  --title-color: var(--white-smoke);
  --code-bg-color: var(--night-light-14);
  --code-color: var(--success);
}


.font-change{
  .title{
    font-family: 'Moulpali', 'Roboto', sans-serif;
  }
}

.has-text-centered{
  .subtitle{
    line-height: 1.5;
  }
}